/* Heading section */

.heading {
  display: flex;
  padding: 40px 80px;
  justify-content: space-between;
  color: #fff;
  background: #000;
}

.headingContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headingContent h1 {
  font-size: 30px;
}

.headingContent span {
  color: #009108;
}

.heading img {
  width: 40%;
}

/* About section */

.about {
  padding: 20px 80px;
}

.about h1 {
  font-size: 32px;
  text-align: center;
}

.about p {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

/* Our projects section */

.projects {
  padding: 20px 80px;
  background: #000;
}

.projects h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Contact Us section */

.contacts {
  padding: 20px 80px;
  background: #fff;
}

.contacts h1 {
  color: #000;
  font-size: 32px;
  text-align: center;
}

.contact {
  text-decoration: none;
  color: #000;
  margin: 20px 0;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.contact:hover {
  color: #009108;
  fill: #009108;
}

.contact.map:hover {
  color: #bc0000;
  fill: #bc0000;
}

.contact.vk:hover {
  color: #4a76a8;
  fill: #4a76a8;
}

.contact.play:hover {
  color: #00d2ff;
  fill: #00d2ff;
}

.contact svg {
  margin-right: 20px;
}
